
div.centre{
 width: 85%;
 margin-left: auto;
 margin-right: auto;

}
div.gallery {
    box-shadow: 3px 3px 3px 0 #34495e;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    margin: 15px 15px 15px 15px;
    border: 1px solid #777;
}



div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;

}

div.desc {
    padding: 0px 15px 15px 15px;
    text-align: center;


}
#text{
  text-decoration: none;
  color: black;
}

p{
  text-align:center;
  color: red;
  font-weight:bold;
  font-size: 1em;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    /*width: 24.99999%;*/
    width: 33.33333%;

}

@media only screen and (max-width: 60em) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 35em) {
    .responsive {
        width: 100%;
    }
}

